<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>Hello</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader::bodyHeader"></div>
        <div class="jumbotron">
            <h1> hello shop </h1>
            <p class="lead justify-content-center"> 회원 기능</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="#" th:href="@{/members/new}"> 회원 가입</a>
                <a class="btn btn-lg btn-secondary" href="#" th:href="@{/members}"> 회원 목록</a>
            </p>
            <p class="lead"> 상품 기능 </p>
            <p>
                <a class="btn btn-lg btn-dark" href="#" th:href="@{/items/new}"> 상품 등록 </a>
                <a class="btn btn-lg btn-dark" href="#" th:href="@{/items}"> 상품 목록 </a>
            </p>
            <p class="lead"> 주문 기능</p>
            <p>
                <a class="btn btn-lg btn-info" href="#" th:href="@{/order}"> 상품 주문</a>
                <a class="btn btn-lg btn-info" href="#" th:href="@{/orders}"> 주문 내역</a>
            </p>
        </div>
        <div th:replace="fragments/footer::footer"></div>
    </div>
</body>
</html>